  <hr />
<center mx-2>
  <h3>
  <%= link_to_unless_current "Pricing", pricing_path %>
  <%= link_to_unless_current "Terms", terms_path %>
  <%= link_to_unless_current "Privacy", privacy_path %>
  </h3>
  </center>
